@import "../../../styles/variables.scss";

img {
    width: 100%;
    aspect-ratio: 1/1;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
};

.skill-icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8%, 1fr));
    gap: 20px;

    @media screen and (max-width: $max-width) {
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    };
};
