.carousel-container {
  overflow: hidden;
  width: 100vw;

  .carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-slide {
    flex: 0 0 33.33%; /* Adjust the width based on the number of slides you want to show */
    box-sizing: border-box;
    height: 300px; /* Set your desired height */
    background-color: #ddd; /* Set your slide background color */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333; /* Set your text color */
  }

  .carousel-slide.current {
    flex: 0 0 33.33%; /* Adjust the width based on the number of slides you want to show */
    box-sizing: border-box;
    height: 300px; /* Set your desired height */
    background-color: #ddd; /* Set your slide background color */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333; /* Set your text color */
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff; /* Set your button background color */
    color: #fff; /* Set your button text color */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }

  .carousel-button:first-child {
    left: 10px;
  }

  .carousel-button:last-child {
    right: 10px;
  }
}

.item {
  flex:  0 0 100%;
  background-color: blue;
  transition: flex 2s ease-in-out, background-color 2s ease-in-out;
}

.item.current {
  flex: 0 0 150%;
  background-color: red;
  color: green;
}