@import "../../../styles/variables.scss";

.project-carousel-div {
    //background: linear-gradient(to right, #3498db 50%, #e74c3c 50%); //TODO: remove
    overflow: hidden;
    width: 100vw;
    height: 100vh;
};

.project-carousel-slides-div {
    //background-color: green; //TODO: remove
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    height: 100vh;
    position: relative;
}

.project-carousel-slide {
    flex: 0 0 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
};

.project-carousel-slide.current {
    transform: scale(1.5);
    z-index: 3;
};

.project-carousel-slide.sides {
    transform: scale(1);
    z-index: 2;
};
