@import "../../../styles/variables.scss";

.project-carousel-div {
    overflow: hidden;
};

.project-carousel-slides-div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    height: 75vh;
    position: relative;
    @media screen and (max-width: $max-width) {
        height: 70vh;
    }
}

.project-carousel-slide {
    width: calc(100vw / 3);
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
};

.project-carousel-slide.current {
    transform: scale(1.5);
    z-index: 3;
};

.project-carousel-slide.sides {
    transform: scale(1);
    z-index: 2;
};
