.project-carousel-div {
  display: flex;
  flex-direction: row;
}

.project-carousel-item {
  background-color: red;
  transition: transform 2s ease;
}

.project-carousel-item.middle {
  transform: translateX(0);
  background-color: blue;
  transition: transform 2s ease;
}

.project-carousel-item.left {
  transform: translateX(-100%);
}

.project-carousel-item.left-fading {
    transform: translateX(-100%);
    opacity: 0;
  }

.project-carousel-item.right {
  transform: translateX(100%);
}

.project-carousel-item.right-fading {
    transform: translateX(100%);
    opacity: 0;
  }