@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.project-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $title-family;
    color: $primary-color;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $primary-color;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    
    &:hover {
        color: white;
        background-color: $primary-color;
        box-shadow: 0px 0px 2px 0px $primary-color;
        transform: scale(1.1);
    };

    &:active {
        opacity: 0.5;
    };
};

.project-card-button-title {
    margin-right: 3px;
}
