@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

$padding: 15px;

.project-card-div {
    display: flex;
    flex-direction: column;
    //background-color: #dbd3ff;
    //background-color: linear-gradient(45deg, rgba(104,60,228,1) 0%, rgba(153,173,255,1) 50%, rgba(16,229,178,1) 100%);
    //backdrop-filter: blur(10px);
    width: div(100%, 3);
    height: 350px;
    margin-top: 15px;
    border-radius: 20px;
    border: 3px solid $primary-color;
    padding: 5px;
    background-color: $tertiary-color;
};

.project-card-div-inactive {
    
}

.project-card-name {
    padding: 5px;
    color: $primary-color;
    font-family: $title-family;
    font-size: 30px;
    font-weight: bold;
};

.project-card-stack-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding: 5px;
};

.project-card-stack-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: $title-family;
    color: $primary-color;
    font-size: 15px;
    padding-inline: $padding;
};

.project-card-stack {
    color: white;
    font-size: 15px;
    padding-inline: $padding;
};

.project-card-description {
    //flex: 3;
    font-size: $text-size;
    color: white;
    overflow-y: auto;
    white-space: pre-wrap;
    padding: $padding;

    &::-webkit-scrollbar {
        width: 10px;
    };

    &::-webkit-scrollbar-track {
        background: transparent;
    };

    &::-webkit-scrollbar-thumb {
        background: $primary-color;
    };
};

.project-card-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding: 5px;
};
