@import "../../../styles/variables.scss";

.body {
    background-color: black;
};

.home-div {
    display: flex;
    background-image: url("../../../assets/background.jpeg");
    background-size: auto;
    background-position: center;
    height: calc(100vh - $navbar-div-height);
    animation: slidein 100s linear infinite alternate;
};

@keyframes slidein {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
};

.title-text {
    color: white;
    font-family: Inria Serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};
