@import "../../../styles/variables.scss";

.home-div {
    padding-inline: 10vw;
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
    max-height: 100vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;

    @media screen and (max-width: 768px) {
        justify-content: center;
        padding-top: 0vh;
        margin-top: 0vh;
        margin-bottom: 0vh;
        padding-inline: 2vw;
    };
};
