.home-div {
    display: flex;
    width: 100vw;
};

.title-text {
    color: white;
    font-family: Inria Serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};
