@import "../../../styles/colors.scss";

$icon-size: 40px;

.icons {
    font-size: $icon-size;
    padding-top: 5px;
    //color:lightgray;
    color:$tertiary-color;
    z-index: 1;
};

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    transition: 1s ease-in-out;

    &:hover {
        rotate: 45deg;
        scale: 1.1;
    }

    &:before, &:after {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: $primary-color;
    };

    &:before {
        transform: rotate(60deg);
    };

    &:after {
        transform: rotate(-60deg);
    };

};
