@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

.title-text-div {
    text-align: left;
    justify-content: center;
};

.title-text-name {
    font-size: $subtitle-size;
    font-family: $title-family;
    color: $subtitle-color;
    font-weight: bold;
};

.title-text-rol {
    font-size: $title-size;
    font-family: $title-family;
    color: $primary-color;
    font-weight: bold;
}