@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

p {
    font-family: $title-family;
};

.title-text-div {
    text-align: left;
    justify-content: center;
};

.title-text-name {
    font-size: 30px;
    font-weight: bold;
};

.title-neutral {
    color: $secondary-color;
}

.title-styled {
    color: $primary-color;
};

.title-text-rol {
    font-size: 70px;
    color: $primary-color;
    font-weight: bold;
    white-space: pre-wrap;
}