@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

.title-text-div {
    text-align: left;
    justify-content: center;
};

.title-text-name {
    font-size: 20px;
    font-family: $title-family;
    color: $subtitle-color;
    font-weight: bold;
};

.title-text-rol {
    font-size: 60px;
    font-family: $title-family;
    color: $primary-color;
    font-weight: bold;
}