@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

.nav-bar-div {
    font-family:'Courier New', Courier, monospace;
    //background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $navbar-div-height;
};
