@import "../../../styles/colors.scss";

.nav-bar-button {
    outline: none;
    background-color: transparent;
    border: 0;
    color: WHITE;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
};

.nav-bar-button:hover {
    color: $primary-color;
};
