$primary-color: #ee2655;
$secondary-color: #2f9aab;
$background: #0f1219;

// $glitch-color-1: #ff003c;
// $glitch-color-2: #00ffd2;
// $glitch-color-3: #f8ef02;

$glitch-color-1: $primary-color;
$glitch-color-2: $secondary-color;
$glitch-color-3: #f8ef02;