$primary-color: #683CE4;
$secondary-color: #10E5B2;
$tertiary-color: #c5b4f3;
//$subtitle-color: lightgray;
$subtitle-color: #c5b4f3;
$normal-font-color: lightgray;
$background: #0f1219;
$card-color: #c5b4f3;
$card-color-2: #c8f9e7;
$text: rgb(139, 124, 194);
