@import url('https://fonts.googleapis.com/css?family=Poppins');

$title-size: 70px;
$title-family: 'Poppins';

// $subtitle-family: Abril Fatface;
$subtitle-size: 30px;
$subtitle-family:'Courier New', Courier, monospace;