@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/variables.scss";

.about-div {
    display: flex;
    justify-content: center;
    gap: 5vw;

    @media screen and (max-width: $max-width) {
        flex-direction: column;
    }
};

.about-div.basic-info {
    display: flex;
    flex: 1;
    align-items: flex-start;
};

.about-div.descrption {
    display: flex;
    flex: 2;
};

.about-skill-title {
    color: $primary-color;
    font-size: $subtitle-size;
}