@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

//rgb(147, 120, 179);
//rgb(156, 124, 194);

.about-description-div {
    color:$text;
    white-space: pre-wrap;
    font-size: 20px;
    line-height: 30px;
};
