@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.about-description-div {
    color: $primary-color;
    white-space: pre-wrap;
    font-size: 20px;
    line-height: 30px;
};
