@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.about-div {
    display: flex;
    justify-content: center;
};

.about-div.basic-info {
    display: flex;
    flex: 1;
    align-items: flex-start;
};

.about-div.descrption {
    display: flex;
    flex: 2;
};

.about-skill-title {
    color: $primary-color;
    font-size: $subtitle-size;
}